@charset "utf-8";
/* CSS Document */
#img-header{
	width:200px;
	height:40px;
	/*border:1px solid #000;*/
	margin-left:15px;
	margin-top:5px;
}
#footer{
	width:1050px;
	height:100px;
	background:#000;;
}

